@font-face {
  font-family: "Yolk-Regular";
  src: local("Yolk-Regular"), url("assets/fonts/Yolk-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Yolk-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html,body,#root,.App{height: 100vh; overflow-y: scroll;} */

html,
body,
#root,
.App {
  height: 100vh;
  font-family: "Yolk-Regular";
}

.App {
  height: 100vh;
  overflow-y: auto;
}

code {
  font-family: "Yolk-Regular";
}

.boxOptionsDrawer{
  border-bottom: 2px solid rgba(0,0,0,0.0);
}

.boxOptionsDrawer:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
  animation: mark 0.2s normal;
}

@keyframes mark {
  0%{
    width: 0%;
    /* border-bottom: 0px solid white; */
  }
  100%{
    width: 100%;
    /* border-bottom: 2px solid white; */
  }
}

.markEditor {
  overflow: hidden;
  border-right: .15em solid white;
  margin: 0 auto;
  letter-spacing: .15em;
  width: 40vw;
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Typewrite cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}